services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: frontend:latest
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - NEXT_PUBLIC_KEYCLOAK_URL=https://keycloak.loranet.my
      - NEXT_PUBLIC_KEYCLOAK_REALM=loranet_xperts
      - NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=loranet_xperts
