services:  
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: frontend:latest
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - NEXT_PUBLIC_API_URL=http://localhost:5555
      - NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:9090
      - NEXT_PUBLIC_KEYCLOAK_REALM=lorawan
      - NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=lorawan-frontend
